

header{
    background-image: url(pics/joanna-kosinska-1_CMoFsPfso-unsplash.jpg);
    background-position: center;
    background-size: cover;
    padding: 200px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    text-align-last: center;
    max-width: 100% ;
    height: 80vh;
    
}
.section-portfolio {
    padding: 800px;
 
}
h1 {
    font-size: 300px;
    font-weight: 900;
}

p{
    font-size:  100px;
}

button{
    font-size: 48px;
    background-color: rgb(73, 164, 243);
    padding: 50px 100px;
    border-radius: 10px;
}

.section-1{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    padding: 200px 200px;
    text-align: center;
    max-width: 100%;
    height: 40vh;
}

h2{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 150px;
}

h3{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 75px;
    color: gray;
}

.black{
    background-color: black;
    color: white;
}

.section-2{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    max-width: 100%;
    height: 65vh;
    background-color:rgb(27, 197, 216) ;
    padding: 200px;

}



.service h2{
    font-size: 80px;
    color: orange;
}
.service h1{
    font-size: 150px;
    color: white;
}
.p1{
    font-size: 100px;
}

.frame-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    max-width: 100%;
}

.frame-container img{
    width: 50%;
}

.section-3{
    background-image: url(pics/joanna-kosinska-bF2vsubyHcQ-unsplash.jpg);
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    background-position: center;
    background-size: cover;
    padding: 500px;
    align-items: center;
}



.frames-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 50%;
    height: 50vh;
    margin-left: 25%;
    margin-right: 25%;

}
    

.frame-1{
    background-image: url(./pics/portfolio-1.jpg);
    background-position: center;
    background-size: cover;
    width: 50%;
    height: auto;
}

.frame-2{
    background-image: url(./pics/joanna-kosinska-7ACuHoezUYk-unsplash.jpg);
    background-position: center;
    background-size: cover;
    width: 50%;
    height: auto;
}

.frame-3{
    background-image: url(./pics/joanna-kosinska-BteMcldTQVo-unsplash.jpg);
    background-position: center;
    background-size: cover;
    width: 50%;
    height: auto;
}

.frame-4{
    background-image: url(./pics/joanna-kosinska-bF2vsubyHcQ-unsplash.jpg);
    background-position: center;
    background-size: cover;
    width: 50%;
    height: auto;
}

.service h2{
    text-align: center;
}

.service h1{
    text-align: center;
    color: black;
}

.p2 {
margin-top: 75%;
margin-left: 5%;
color: white;
font-size: 40px;
}

.p3 {
color: white;
font-size: 35px;
margin-left: 5%
}

.section-4{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 5%;
    text-align: center;
    background-color:rgb(27, 197, 216);
}

.below{
    font-size: 150px;   
}

.white{
    background-color: white;
    border-radius: 20px;
}

.black{
    background-color: black;
    border-radius: 20px;
    color: white;
}

.map{
    background-image: url(./pics/dzikwa\ map.png);
    background-position: center;
    background-size: cover;
    padding: 35%;
}
.copy-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}
.map-container img{
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-position: center;
    background-size: cover;
  
}

